# Supabase/PostgreSQL
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://palantir:palantir@localhost:54321/pet_sitting_palantir
TEST_DATABASE_URL=postgresql://palantir:palantir@localhost:54321/pet_sitting_palantir

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
